<form class="page-user" (submit)="onSubmit(user)" [formGroup]="form">
	<div class="card">
		<div class="card-header">
			Profile {{ user.name }}
		</div>
		<div class="card-body">
			<div class="page-user-profile">
				<img class="avatar avatar__double" [src]="user.avatarUrl" [alt]="user.name" />
				<div class="user-profile">
					<p>ID: {{ user.id }}</p>
					<input formControlName="name" name="name" type="text" placeholder="Name" />
				</div>
			</div>
		</div>
		<div class="card-footer">
			<button type="button" class="btn" (click)="goBack()">Back</button>
			<div class="flex-spacer"></div>
			<div class="card-footer-status" [ngClass]="{ 'has-error': !success }">{{ msg }}</div>
			<button type="submit" class="btn btn__accent">Accept</button>
		</div>
	</div>
</form>
