.btn {
	cursor: pointer;
	text-decoration: none;
	outline: none;
	border: none;
	-webkit-appearance: none;
	display: inline-block;
	padding: 10px $DEFAULT_PADDING;
	transition: $DEFAULT_TRANSITION;
	border-radius: 2px;
	text-transform: uppercase;
	box-shadow: 0px 2px 5px rgba(0,0,0,0.25);
	background: $COLOR_WHITE;

	&:hover {
		box-shadow: 0px 4px 10px rgba(0,0,0,0.25);
	}

	&:focus:active {
		box-shadow: 0px 1px 2px rgba(0,0,0,0.25);
	}

	&__accent {
		background: $COLOR_ACCENT;
		color: $COLOR_WHITE;

		&:hover {
			background: $COLOR_ACCENT_HIGHLIGHT;
		}

		&:focus:active {
			background: $COLOR_ACCENT_BLACKOUT;
		}
	}
}
