.card {
	margin-top: 15px;
	box-shadow: 0px 5px 15px rgba(0,0,0,0.25);

	&-header {
		font-weight: 600;
		font-size: 16px;
		padding: 10px $DEFAULT_PADDING;
		border-bottom: 1px solid $COLOR_GRAY;
	}

	&-body {
		padding: 10px $DEFAULT_PADDING;
	}

	&-footer {
		padding: $DEFAULT_PADDING;
		display: flex;
		flex-wrap: wrap;

		&-status {
			align-self: center;
			font-weight: 600;
			margin: 0px $DEFAULT_PADDING;
			color: $COLOR_SUCCESS;

			&.has-error {
				color: $COLOR_DANGER;
			}
		}
	}
}
