* {
	box-sizing: border-box;
}

html, body {
	width: 100%;
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', Arial, sans-serif;
	font-size: 14px;
}

.container {
	width: 100%;
	max-width: 830px;
	margin: 0 auto;
	padding: 0px $DEFAULT_PADDING;
}

.avatar {
	display: inline-block;
	vertical-align: middle;
	width: 40px;
	height: 40px;
	border-radius: 50%;

	&__double {
		width: 80px;
		height: 80px;
	}
}

.flex-spacer {
	flex-grow: 1;
}

a {
	color: $COLOR_ACCENT;
	letter-spacing: .2;
	text-decoration-style: dotted;
}

input {
	-webkit-appearance: none;
	outline: none;
	border: 1px solid $COLOR_GRAY;
	padding: $DEFAULT_VPADDING $DEFAULT_HPADDING;
	border-radius: 2px;
	transition: $DEFAULT_TRANSITION;

	&:focus {
		border-color: $COLOR_ACCENT;
	}
}

p {
	margin: .5em 0;
}
