.table {
	&-header {
		padding: $DEFAULT_VPADDING 0px;
		border-bottom: 1px solid $COLOR_GRAY;
		font-weight: 600;
	}

	&-body {
		padding: $DEFAULT_VPADDING 0px;
	}

	&-footer {
		padding: $DEFAULT_VPADDING 0px;
		display: flex;
		flex-wrap: wrap;
		border-top: 1px solid $COLOR_GRAY;
	}

	&-row {
		display: flex;
		flex-wrap: wrap;
		padding: ($DEFAULT_VPADDING / 2) 0px;
	}

	&-cell {
		align-self: center;
		overflow: hidden;
		text-overflow: ellipsis;

		&:not(:first-child) {
			padding-left: $DEFAULT_VPADDING / 2;
		}

		&:not(:last-child) {
			padding-right: $DEFAULT_VPADDING / 2;
		}
	}
}
