<input [formControl]="searchTerm" type="text" placeholder="Search.." />

<div class="table" *ngIf="!!users.length">
	<div class="table-header">
		<div class="table-row">
			<div class="table-cell">Avatar</div>
			<div class="table-cell">Name</div>
		</div>
	</div>

	<div class="table-body">
		<div *ngFor="let u of users" class="table-row">
			<div class="table-cell">
				<img class="avatar" [src]="u.avatarUrl" [alt]="u.name" />
			</div>
			<div class="table-cell"><a [routerLink]="['/user', u.id]">{{ u.name }}</a></div>
		</div>
	</div>

	<div class="table-footer">
		<a class="btn btn__accent" *ngIf="previousPageUrl" [routerLink]="previousPageUrl" [queryParams]="queryParams">Previous</a>
		<span class="flex-spacer"></span>
		<a class="btn btn__accent" *ngIf="nextPageUrl" [routerLink]="nextPageUrl" [queryParams]="queryParams">Next</a>
	</div>
</div>

<p *ngIf="!users.length">Users not found</p>
